.DS_Store
node_modules
node_modules.nosync
npm-debug.log
yarn-error.json
yarn-error.log
users.json

# serverless zip
.serverless
# webpack build files
.webpack
# eslint cache
.eslintcache

.idea
# vim
*.swp
.vscode/settings.json
