name: Tests

on:
  pull_request:
    branches:
      - master
      - alpha
  push:
    branches:
      - master
      - alpha

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [16, 18, 20, 22, 24]
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install dependencies
        run: npm ci
      - name: Lint
        run: npm run lint
      - name: Tests
        run: npm run test
