name: Tests

on:
  pull_request:
    branches:
      - master
      - v2
  push:
    branches:
      - master
      - v2

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [14, 16]
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          yarn install --frozen-lockfile
      - name: Lint
        run: yarn run lint
      - name: Tests
        run: yarn run test
